body {
	background-color: #fff;
	font-family: Arial, sans-serif,
}

a {
	text-decoration: none; 
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

b {
	font-weight: 600;
}

.container {
	max-width: 960px;
}


.h2 {
	width: 100%;
	color: #000;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	b {
		width: 100%;
	}
}

.paragraph {
	color: #000;
	font-family: "RobotoLight", Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 1.3;
}
.text_regular {
	font-family: "Roboto", Arial, sans-serif;
}
.text_blue {
	color: #0756a5;
	font-weight: 600;
}
.underline {
	text-decoration: underline;
}

.no-mb {
	margin-bottom: 0;
}



.list {
	&__item {
		position: relative;
		color: #000;
		font-family: "RobotoLight", Arial, sans-serif;
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 1.3;
		box-sizing: border-box;
		padding-left: 27px;
		margin-bottom: 22px;
		line-height: 1.3;

		&:last-child {
			margin-bottom: 0;
		}

		&:after {
			position: absolute;
			top: 5px;
			left: 0;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: #659acf;
			content: "";
		}
	}	
}
.list__item a {
	color: #000;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.autor	{
	margin: 50px 0 0 0;
	a {
		font-family: "RobotoLight", Arial, sans-serif;
		font-size: 15px;
		line-height: 1.3;
		color: #000;
		text-decoration: underline;
	}

	a:hover {
		color: #979797;
		text-decoration: none;
	}
}

.date {
	font-family: "RobotoLight", Arial, sans-serif;
	font-size: 14px;
	color: #575757;
}

.slider {
    .slick-dots {
        position: absolute;
        bottom: -20px;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            margin: 0 3px;
            background-color: #DDDCDA; 
            border-radius: 50%;
            box-sizing: border-box;
            width: 10px;
            height: 10px; 
        }

        button {
            position: relative;
            background-color: #DDDCDA;
            border: none;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            outline: none;
            content: "";

            &:before {
            	content: "";
            }
        }

        .slick-active button {
            background-color: #3285DB; 
        }
    }
}







