.card {
	padding: 35px 0 43px 0;
	background-color: #E7E6E2;
}

.card-slider {
	margin-bottom: 27px;
}

.card-slider-nav {
	li {
		padding: 0 2px;
	}
}
.card-slider-nav-wrap {
	position: relative;

	button {
		padding: 0;
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;
		z-index: 2;
	}

	.prev {
		position: absolute;
		top: 50%;
		left: -20px;
		transform: translateY(-50%) rotate(-180deg);
	}

	.next {
		position: absolute;
		top: 50%;
		right: -20px;
		transform: translateY(-50%);
	}
}

.card-descript-top {
	position: relative;
	padding-bottom: 22px;
	border-bottom: 1px solid #d0cfcb;

	p {
		font-family: Verdana, sans-serif;
		font-size: 18px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.big {
		font-size: 22px;
	}

	.button {
		position: absolute;
		top: 3px;
		right: 30px;
	}
}

.card-descript-list {
	&-wrap {
		padding-top: 23px;
	}

	li {
		display: flex;
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.paragraph {
		margin-bottom: 0;

		&:first-child {
			width: 30%;
			margin-right: 20%;
			white-space: pre-line;
		}
		&:last-child {
			max-width: 50%;
		}
	}
}