@media screen and (max-width: 767px) {
	.card {
		padding: 17px 0 37px 0;
	}

	.card-slider-wrap {
		width: 70%;
		margin: 0 auto 25px auto;
	}

	.card-slider-nav-wrap {
		display: none;
	}

	.card-descript-top {
		padding-top: 20px;
		border-top: 1px solid #d0cfcb;

		.button {
			top: 15px;
			right: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.card-slider-wrap {
		width: 98%;
	}

	.card-descript-top p {

	}

	.card-descript-list .paragraph:first-child {
		width: 40%;
		margin-right: 10%;
	}
}