.video-block {
    padding: 27px 0;
    background-color: #f4f4f4;
}

.video-block iframe {
    display: block;
    width: 100%;
    max-width: 375px;
    height: 211px;
    margin: 0 auto;
}

.video-block__paragraph {
    margin-bottom: 0;

    &:last-child {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .video-block__video {
        margin-bottom: 20px;
    }

    .video-block iframe {
        width: 100%;
        max-width: none;
    }
}

// @media screen and (max-width: 500px) {
//     .video-block iframe {
//         width: 100%;
//         max-width: 420px;
//     }
// }