.video-block {
    padding-bottom: 35px;
    background-color: #BBBAB5;
}

.video-block iframe {
    display: block;
    width: 100%;
    max-width: 375px;
    height: 211px;
    margin: 0 auto;
}

.video-block__text-block {
    background-color: #d6d5d1;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    height: 100%;
}

.video-block__paragraph {
    margin-bottom: 0;
    font-size: 16px;

    &:last-child {
        margin-top: 20px;
    }
}

.sertificates {
    padding: 127px 0 65px 0;
    background-color: #f6f6f6;

    .h2 {
        text-align: center;
        margin-bottom: 45px;
    }

    img {
        max-width: 170px;
    }
}

.sertificates-slider {
    justify-content: center;
}
.sertificates-slider__item {
    margin-right: 80px;
    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {

    .video-block iframe {
        max-width: none;
    }

    .sertificates {
        padding: 35px 0;

        img {
            margin: 0 auto;
        }
    }
    .sertificates-slider__item {
        margin-right: 0;
    }
}
