.types-wrap {
    padding: 22px 0;

    &__image {
        margin-top: 97px;
	}
	&__image_mob {
		display: none;
		max-width: 290px;
		margin: 30px auto 40px auto;
	}

    &__heading {
		font-size: 22px;
        margin-bottom: 70px;
    }
}
.types {

	&__heading {
		font-size: 22px;
    	margin-bottom: 12px;
	}

	&__item  {
		margin-bottom: 15px;

		img {
			margin-bottom: 5px;
		}
    }
    &__item_top {
        margin-top: 40px;
	}
}

.old-type-wrap {
    padding: 22px 0;
}
.old-type-wrap__image img {
	display: block;
	margin: 0 auto;
}
.old-type-wrap__heading {
	font-size: 22px;
	margin-bottom: 30px;
}

.old-type {
	margin-top: 39px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li {
		width: 29%;
		text-align: center;
		margin-bottom: 32px;
	}

	.paragraph {
		font-size: 14px;
		max-width: 150px;
		margin: 0 auto;
	}
}

.old-type-image {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	margin-bottom: 25px;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media screen and (max-width: 767px) {
	.types-wrap {
		padding: 22px 0;

		&__image {
			display: none;
		}
		&__image_mob {
			display: block;
		}
	}
}

@media screen and (max-width: 599px) {

	.type__item img {
		display: block;
		margin: 0 auto 5px auto;
	}

	.old-type-wrap {
		padding: 22px 0;
	}
	.old-type-wrap__image img {
		max-width: 290px;
		margin-bottom: 35px;
	}
	.old-type-wrap__heading {
		margin-bottom: 25px;
	}

	.old-type {
		justify-content: space-around;

		li {
			width: 45%;
		}
	}

	.old-type-image {
		margin-bottom: 15px;
	}
}