.footer {
	padding: 21px 0 26px 0;
	background-color: $gray;
	position: relative;
	overflow: hidden;

	&__logo {
		margin-bottom: 25px;
		width: 204px;
	}

	&__copy {
		color: #000;
		font-family: "RobotoLight", Arial, sans-serif;
		font-size: 14px;
		text-transform: uppercase;
	}
}

.footer-block_right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: static;
}

.footer-contact {
	margin-bottom: 30px;
	
	li {
		margin-bottom: 20px;
		text-align: left;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a, p {
		display: block;
		text-align: right;
		color: #000;
		font-family: "RobotoLight", Arial, sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 16px;
	}

	.underline:hover {
		text-decoration: none;
	}
}
.footer__loc {
	display: flex;
	align-items: flex-start;

	img {
		margin-right: 10px;
	}
}

.footer-link-list {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}

	li {
		padding-left: 0;
		margin-bottom: 3px;
		&:before {display: none;}
	}

	a {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.footer-block_2 {
		margin-top: 23px;
	}

	.footer__copy {
		position: absolute;
		right: 15px;
		bottom: 30px;
	}

	.decore-image {
		width: 200%;
		max-width: 200%;
	}

	.footer__loc img {
		margin-right: 5px;
	}
}