.ramki {
	.h2 {
		margin-bottom: 25px;
	}
	.h2_mt {
		margin-top: 55px;
	}

	.list {
		margin: 0;
	}

	.list__heading {
		margin-bottom: 10px;
	}

	.list__item {
		margin-bottom: 12px;
	}

	.souvenir-slider-wrap {
		margin-top: 50px;

		.paragraph {
			margin-bottom: 12px;
		}
	}
}