@media screen and (max-width: 767px) {
	.radio + label {margin-right: 0;}
	.checkbox + label {margin-right: 0;}

	.table_check .table-type {
		width: 100%;
	}

	.table_check .table-row {
		padding-bottom: 50px;
	}

	.table-heading {
		width: 100%;
		margin-bottom: 15px;
	}

	.frame_mob {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.table-price {
			width: auto;
		}
		.small-select-wrap {
			margin-right: 20px;
		}
	}

	.form-block {
		padding-bottom: 40px 0;
	}
}

@media screen and (max-width: 600px) {
	.table-heading, .form-block-heading {
		display: flex; 
		flex-direction: column;
		align-items: flex-start;
		padding-left: 0;

		.label {
			margin-bottom: 15px;
		}
	}
	.error {
		padding-left: 30px;
		&:before {
			left: 0px;
		}
	}
}

@media screen and (max-width: 575px) {
	.label {
		margin-bottom: 8px;
	}

	.radio-wrap {
		padding-left: 5px;

		label {
			margin-right: 20px;
		}
	}

	.pay {
		flex-direction: column;

		p {
			margin-right: 0;
			margin-bottom: 17px;
		}
	}
}