.table_check {
    margin-bottom: 35px;
    &:last-child {
        margin-bottom: 0;
    }

    .table-type {
        width: 75%;
    }
}

.radio {
    display: none;
    
    & + label {
        position: relative;
        content: " ";
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #a09f9c;
        box-sizing: border-box;
        margin-right: 20px;
        cursor: pointer;
    }

    & + label:before {
        opacity: 0;
        position: absolute;
        content: " ";
        width: 9px;
        height: 9px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1655D6;
        border-radius: 50%;
    }

    &:checked + label:before {
        opacity: 1;
    }
}

.checkbox {
    display: none;
    
    & + label {
        position: relative;
        content: " ";
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 2px;
        border: 2px solid #a09f9c;
        box-sizing: border-box;
        margin-right: 20px;
        cursor: pointer;
    }

    & + label:before {
        opacity: 0;
        position: absolute;
        content: " ";
        width: 18px;
        height: 18px;
        top: 0px;
        left: 0px;
        /*background-color: #1655D6;*/
        background: url(../img/check.png) no-repeat;
        border-radius: 2px;
    }

    &:checked + label:before {
        opacity: 1;
    }
}

.error {
    position: relative;
    color: #cf0000;
    font-family: Arial, sans-serif;
    font-size: 18px;

    &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
        content: url("../img/error.png");
    }
}
.error_small {
    position: absolute;
    bottom: -15px;
    left: 0;
    color: #dd0000;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.label {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.label_star {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        right: -12px;
        color: #EE470D;
        content: "*";
    }
}

.table-heading, .form-block-heading {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 10px;

    .label {
        position: relative;
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.form-block-heading {
    padding: 0;
    margin-bottom: 53px;
}

.form {
    background-color: #F6F6F6;
}

.form-block {
    padding: 48px 0 96px 0;
    border-bottom: 1px solid #7C7C7C;
}

.big-select-wrap {
    position: relative;
    margin-bottom: 57px;
    display: flex;
    align-items: center;

    // &:after {
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     right: 5px;
    //     border-top: 3px solid #000;
    //     border-left: 3px solid transparent;
    //     border-right: 3px solid transparent;
    //     content: "";
    // }

    select {
        width: 235px;
        padding: 15px 0 15px 15px;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        font-size: 20px;
        border-color: #DFDEDB;
        // -webkit-appearance: none;
        // -moz-appearance:    none;
        // appearance:         none;
    }
}

.small-select-wrap {
    select {
        height: 32px;
        width: 45px;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 15px;
        border-color: #7a7a7a;
        // -webkit-appearance: none;
        // -moz-appearance:    none;
        // appearance:         none;
        position: relative;

        // &:after {
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     right: 5px;
        //     content: "";
        // }
    }
}

.input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    &:last-child {
        margin-bottom: 0;
    }
}
.input {
    padding: 8px 17px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border: 1px solid #c5c6c6;

    &::-webkit-input-placeholder {color: #e3e3e3;};
    &::-moz-placeholder          {color: #e3e3e3;};
    &:-moz-placeholder           {color: #e3e3e3;};
    &:-ms-input-placeholder      {color: #e3e3e3;};

    &_error {
        border: 2px solid #dd0000;
    }
}

.radio-wrap {
    display: flex;
    align-items: flex-startt;
    padding-left: 15px;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }

    label {
        margin-right: 38px;
    }
}


.radio-text {
    position: relative;
    width: 90%;

    span {
        margin-left: 15px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #8b8b8b;
    }
}