.thanks {
	padding: 40px 0 400px 0;
	background-color: #E7E6E2;

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		width: 75px;
		margin-bottom: 15px;
	}

	p {
	    font-family: Arial, sans-serif;
	    font-size: 20px;
	    margin-bottom: 30px;
	    text-align: center;
	    font-weight: bold;

	    &:last-child {
	    	font-size: 22px;
	    	margin-bottom: 0;
	    }
	}

	.button_big {
		margin: 45px 0 15px 0;
	}
}

@media screen and (max-width: 500px) {
	.thanks {
		padding-bottom: 150px;
	}
	.thanks .button_big {
		margin-top: 15px;
	}
}