.zakaz-imennie {
	background-color: #BBBAB5;

	.calc  {
		margin-bottom: 60px;
	}

	.label {
		display: inline-block;
		margin-bottom: 30px;
	}

	.calc-input {
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	&-car {
		margin-top: 25px;
		height: auto;
		position: relative;

		img {
			max-width: 100%;
		}
	}
}

.zakaz-imennie-car__number {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 140px;
	padding-bottom: 3px;
	height: 15px;
	width: 88px;
	background-color: #fff;
	display: flex;
	align-items: center;
	border-radius: 3px;
	border: 1px solid #000;
	box-sizing: content-box;
	text-transform: uppercase;

	img {
		height: 100%;
	}

	p {
		margin-top: 3px;
	    font-family: Arial, sans-serif;
	    font-size: 12px;
	    font-weight: bold;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 970px) {
	.zakaz-imennie-car {
		width: 30%;
	}

	.zakaz-imennie-car__number {
		top: 120px;
	}
}

@media screen and (max-width: 884px) {
	.zakaz-imennie-car {
		display: none;
	}

	.zakaz-imennie {

		.calc {
			max-width: 100%;
			flex: 1;
			padding-bottom: 40px;
			margin-bottom: 0;
		}
		.calc-input {
			margin-left: auto;
			margin-right: auto;
		}
	}
}