@media screen and (max-width: 767px) {
	.color-block {
		&:before {
			width: 100%;
			height: 50%;
			display: none;
		}
		&:after {
			top: 50%;
			width: 100%;
			height: 50%;
			display: none;
		}

		.red {
			background-color: #EF6F6F;
		}

		.green {
			background-color: #25E77C;
		}
	}

	.calc-input {
		width: 600px;

		img {
			width: 47px;
		}

		form {
			width: 100%;
		}

		input {
			font-size: 60px;
		}
	}
}

@media screen and (max-width: 600px) {

	.calc-input {
		width: 100%;
		padding: 7px 7px 7px 37px;

		img {
			width: 27px;
		}

		input {
			font-size: 35px;
		}
	}

	.steps .num {
		margin-right: 15px;
	}
}