
.news-list {
    padding: 22px 0;

    .h2 {
        margin-bottom: 7px;
    }

    a {
        color: #000;
        font-weight: 600;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .date {
        margin-bottom: 22px;
    }

    .paragraph {
        margin-bottom: 0;
        line-height: 1.1;
    }

    &__image img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}

.news-list__item {
    margin-bottom: 68px;
    &:last-child {
        margin-bottom: 0;
    }
}

.news-content {
    padding: 22px 0;

    .date {
        margin-bottom: 20px;
    }

    &__image img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .news-list, .news-content {
        .h2 {
            text-align: left;
        }
    }
    .news-list__image, .news-content__image {
        margin-bottom: 17px;
    }
    .news-list__image img {
        max-width: 210px;
    }

    .news-list__item {
        margin-bottom: 70px;
    }
}