
.order {
    .h2 {
        text-align: left;
    }
}

.order_top {
    padding: 19px 40px;
    background-color: #efefef;
}

.order__title-wrap {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;

    .error {
        margin-left: 9px;
    }
}

.order-type {
    margin-bottom: 70px;

    .numbers-list__item {
        padding-top: 50px;
    }

    .numbers-list__order {
        align-items: flex-start;
    }

    .numbers-list__image {
        height: 71px;
    }
}

.order-frameworks {
    &:before {
        display: none;
    }

    .numbers-list__checkbox {
        top: 20px;
    }

    .numbers-list__image {
        height: 79px;
    }

    .numbers-list__item {
        padding-top: 55px;
        border-bottom: none;
        &:last-child {
            border-right: 0;
        }
    }

    .numbers-list__size {
        margin-bottom: 34px;
    }
}

.small-select {
    display: flex;
    align-items: center;
    justify-content: center;

    select {
        height: 33px;
        width: 47px;
        padding-left: 10px;
        margin-right: 19px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        position: relative;
    }

    .selected {
        border-color: #7b7b7b;
    }
}

.big-select {
    select {
        width: 235px;
        padding: 15px 0 15px 15px;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        font-size: 18px;
        border-color: #c5c6c6;
        background-color: #F9F9F9; 
        font-weight: 400;
    }
}

.star {
    display: inline;
    color: #ee470d;;
    font-size: 30px;
    margin-left: 5px;
}

.error {
    position: relative;
    display: inline-block;
    padding: 8px 11px 6px 11px;
    background-color: #C61319;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
}


.radio {
    display: none;
    
    & + label {
        position: relative;
        content: " ";
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #a09f9c;
        box-sizing: border-box;
        cursor: pointer;
    }

    & + label:before {
        opacity: 0;
        position: absolute;
        content: " ";
        width: 9px;
        height: 9px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1655D6;
        border-radius: 50%;
    }

    &:checked + label:before {
        opacity: 1;
    }
}

.checkbox {
    display: none;
    
    & + label {
        position: relative;
        content: " ";
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 2px;
        border: 2px solid #a09f9c;
        box-sizing: border-box;
        cursor: pointer;
    }

    & + label:before {
        opacity: 0;
        position: absolute;
        content: " ";
        width: 18px;
        height: 18px;
        top: 0px;
        left: 0px;
        background: url(../img/check.png) no-repeat;
        border-radius: 2px;
    }

    &:checked + label:before {
        opacity: 1;
    }
}


.order_middle {
    padding-top: 39px;
    padding-bottom: 75px;
    background-color: #fff; 

    .container {
        padding: 0 30px;
    }
}

.label {
    display: inline-block;
}

.order__row {
    margin-bottom: 18px;
    .h2 {
        margin-bottom: 5px;
    }

    b {
        font-weight: 500;
    }

    &:last-child {
        margin-bottom: 50px;
    }
}

.order__input-wrap {
    display: flex;
    align-items: center;
    .error {
        margin-left: 5px;
    }
}

.label-wrap {
    display: flex;
}
.label {
    display: inline-block;
    width: auto;
    font-size: 18px;
}

.input {
    display: inline-block;
    padding: 10px 0 11px 18px;
    border: 1px solid #c5c6c6;
    color: #000;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(#FFFFFF, #F5F5F5);

    &_long {
        width: 537px;
    }

    &_short {

    }

    &::-webkit-input-placeholder {color: #b6b6b6;};
    &::-moz-placeholder          {color: #b6b6b6;};
    &:-moz-placeholder           {color: #b6b6b6;};
    &:-ms-input-placeholder      {color: #b6b6b6;};

}

.files {
    padding-bottom: 50px;
    &__heading {
        padding-bottom: 2px;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 25px;
    }
}
.files__content {
    display: flex;
    justify-content: space-between;
}

.files-browse {
    margin-top: 15px;

    &__item {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        color: #000;
        font-size: 14px;
        font-family: "Myriad Pro", Arial, sans-serif;
    }

    label {
        display: inline-block;
        padding: 4px 10px 2px 10px;
        background-color: #e1e1e1;
        border: 1px solid #c9c9c9;
        margin-right: 5px;
        font-size: 14px;
        font-family: "Myriad Pro", Arial, sans-serif;
    }

    input[type='file'] {
        display: none;
    }
}
.files-browse__top {
    margin-bottom: 15px;
}
.files-browse__bottom {
    cursor: pointer;

    svg {
        width: 18px;
        height: 18px;
        margin-right: 3px;
    }

    span {
        color: #000;
        font-size: 14px;
        font-family: "Myriad Pro", Arial, sans-serif;
    }
}

.files-info {
    max-width: 455px;
    padding: 15px 15px 15px 20px;
    background-color: #efefef;

    &__text {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
    }

    ul {
        margin: 10px 0;
    }

    li {
        padding-left: 27px;
        box-sizing: border-box;
        position: relative;

        &:before {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #659ACF;
            position: absolute;
            top: 6px;
            left: 0;
            content: "";
        }
    }
}

.payment {
    padding-bottom: 75px;   
    &__heading {
        padding-bottom: 2px;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 45px;
    }
}

.deliver {
    padding-bottom: 85px;   
    &__heading {
        padding-bottom: 2px;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 35px;
    }
}
.deliver__inputs {
    margin-top: 40px;
    padding-left: 50px;
    box-sizing: border-box;
}

.radio-wrap {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }

    label {
        margin-right: 24px;
    }
}

.radio-text {
    .label {
        margin-bottom: 0;
    }

    span {
        display: block;
        width: 100%;
        color: #999999;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.order_bottom {
    padding-bottom: 90px;
    position: relative;

    .container {
        border-top: 1px solid #dddddd;
        position: relative;
        padding-top: 40px;
        padding-left: 30px;
    }

    .error {
        position: absolute;
        top: 5px;
        left: 30px;
        white-space: nowrap;
    }
}

.submit {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}
.submit__button {
    display: block;
    margin-right: 25px;
    width: 180px;
    line-height: 36px;
    background-color: #4caf50;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-top: 2px solid rgba(#fff , 0.4);
	border-left: 2px solid rgba(#fff , 0.4);
	border-bottom: 2px solid #3A873D;
    border-right: 2px solid #3A873D;
    
    &:hover {
		color: #fff;
        border-color: #338637;
        background-color: #338637;
	}
}
.submit .h2 {
    max-width: 230px;
    margin-bottom: 0;
}

.descript {
    display: flex;
    align-items: center;

    .star {
        margin-right: 3px;
    }
}

@media screen and (max-width: 1100px) {
    .order_bottom {
        .container {
            padding-top: 0;
        }

        .error {
            position: static;
            margin-top: 5px;
            white-space: normal;
        }
    }
}

@media screen and (max-width: 767px) {

    .input_long {
        width: 100%;
    }

    .order_top {
        padding-left: 0;
        padding-right: 0;

        .container {
            padding: 0;
        }
    }

    .order__title-wrap {
        .error {
            margin-left: 0;
            margin-top: 8px;
        }
    }

    .order_middle {
        .container {
            padding: 0 15px;
        } 
    }
    
    .order_bottom {
        .container {
            padding-left: 15px;
        }
    } 

    .deliver__heading, .payment__heading, .files__heading {
        padding-bottom: 7px;
    }
    .deliver {
        &__inputs {
            // padding-left: 0;
        }
    }

    .files {
        padding-bottom: 90px;

        &__content {
            flex-direction: column;
        }
    }
    .files-browse {
        margin: 34px 0;
    }

    .order__input-wrap {
        flex-direction: column;
        align-items: flex-start;

        .error {
            margin-left: 0;
            margin-top: 8px;
        }
    }

    .radio-wrap {
        padding-left: 0;

        label.radio-text {
            margin-right: 0;
        }
    }

    .submit {
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 500px) {
    .radio-wrap {
        label.radio-text {
            margin-right: 0;
            max-width: 300px;
        }
    }

    .submit__button {
        margin-right: 15px;
    }
    .submit .h2 {
        max-width: 160px;
        margin-bottom: 0;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .radio-wrap {
        label.radio-text {
            max-width: 220px;
        }
    }

    .submit {
        flex-direction: column;
    }
    .submit__button {
        margin-right: 0;
    }
    .submit .h2 {
        max-width: 230px;
        text-align: left;
    }
}