
.order {
    .h2 {
        text-align: left;
    }
}

.order_top {
    padding: 19px 40px;
    background-color: #efefef;
}

.order__title-wrap {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;

    .error {
        margin-left: 9px;
    }
}

.order-type {
    margin-bottom: 70px;

    .numbers-list__item {
        padding-top: 50px;
    }

    .numbers-list__order {
        align-items: flex-start;
    }

    .numbers-list__image {
        height: 71px;
    }
}

.order-frameworks {
    &:before {
        display: none;
    }

    .numbers-list__checkbox {
        top: 20px;
    }

    .numbers-list__image {
        height: 79px;
    }

    .numbers-list__item {
        padding-top: 55px;
        border-bottom: none;
        &:last-child {
            border-right: 0;
        }
    }

    .numbers-list__size {
        margin-bottom: 34px;
    }
}

.small-select {
    display: flex;
    align-items: center;
    justify-content: center;

    select {
        height: 33px;
        width: 47px;
        padding-left: 10px;
        margin-right: 19px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        position: relative;
    }

    .selected {
        border-color: #7b7b7b;
    }
}

.big-select {
    select {
        width: 235px;
        padding: 15px 0 15px 15px;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        font-size: 16px;
        border-color: #c5c6c6;
        background-color: #F9F9F9; 
    }
}

.star {
    display: inline;
    color: #ee470d;;
    font-size: 30px;
    margin-left: 5px;
}

.error {
    position: relative;
    display: inline-block;
    padding: 8px 11px 6px 11px;
    background-color: #C61319;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
}


.radio {
    display: none;
    
    & + label {
        position: relative;
        content: " ";
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #a09f9c;
        box-sizing: border-box;
        cursor: pointer;
    }

    & + label:before {
        opacity: 0;
        position: absolute;
        content: " ";
        width: 9px;
        height: 9px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1655D6;
        border-radius: 50%;
    }

    &:checked + label:before {
        opacity: 1;
    }
}

.checkbox {
    display: none;
    
    & + label {
        position: relative;
        content: " ";
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 2px;
        border: 2px solid #a09f9c;
        box-sizing: border-box;
        cursor: pointer;
    }

    & + label:before {
        opacity: 0;
        position: absolute;
        content: " ";
        width: 18px;
        height: 18px;
        top: 0px;
        left: 0px;
        background: url(../img/check.png) no-repeat;
        border-radius: 2px;
    }

    &:checked + label:before {
        opacity: 1;
    }
}


.order_middle {
    padding-top: 39px;
    padding-bottom: 75px;
    background-color: #fff; 

    .container {
        padding: 0 30px;
    }
}

.label {
    display: inline-block;
}

.order__row {
    margin-bottom: 18px;
    &:last-child {
        margin-bottom: 50px;
    }
}

.order__input-wrap {
    display: flex;
    align-items: center;
    .error {
        margin-left: 5px;
    }
}

.label-wrap {
    display: flex;
}
.label {
    width: auto;
}

.input {
    display: inline-block;
    padding: 10px 0 11px 18px;
    border: 1px solid #c5c6c6;
    color: #b6b6b6;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    // background-color: #F9F9F9;
    background: linear-gradient(#FFFFFF, #F5F5F5);

    &_long {
        width: 537px;
    }

    &::-webkit-input-placeholder {color: #b6b6b6;};
    &::-moz-placeholder          {color: #b6b6b6;};
    &:-moz-placeholder           {color: #b6b6b6;};
    &:-ms-input-placeholder      {color: #b6b6b6;};

}