@media screen and (max-width: 990px) {
	.header__nav_bottom {
		width: 100%;

		a {
			padding: 0 5px;
			font-size: 0.75rem;
		}
	}

	.nav-wrap {
		flex: none;
		max-width: 100%;
		width: 74%;
	}

	.header__contact {
		margin-left: 0;

		a {
			font-size: 11px;
			white-space: nowrap;
		}
	}

	.lang {
		margin-right: 2%;
	}
}

@media screen and (max-width: 767px) {
	.head {
		padding-bottom: 30px;
	}

	.header {
		margin-bottom: 30px;
	}

	.hamburger, .hamburger-close, .mobile-contact {
		display: block;
	}

	.nav-wrap {
		position: fixed;
		padding: 0;
		box-sizing: border-box;
		top: 0;
		left: -100%;
		width: 60%;
		height: 100vh;
		flex-direction: column;
		align-items: flex-start;
		background-color: #585858;
		z-index: 50;
		transition: all 0.3s;
		overflow-y: scroll;
	}
	.header__nav_top {
		width: 100%;
		order: 1;

		ul {
			flex-direction: column;
			align-items: flex-start;
			height: auto;
			width: 100%;
			// margin-bottom: 20px;
		}

		li {
			width: 100%;
			border-bottom: 1px solid #999;
		}

		a {
			padding: 16px;
			width: 100%;
			display: inline-block;
			font-size: 0.9rem;
			text-transform: uppercase;
		}

		.header__nav_mobile {
			display: block;
		}
	}

	.mobile-wrap {
		min-height: 100vh;
		height: auto;
	}

	.lang {
		order: 2;
		width: 100%;
		box-sizing: border-box;

		ul {
			position: static;
			width: 100%;
			background-color: #585858;
			transform: translateX(0);
			box-shadow: none;

			&:after {
				display: none;
			}
		}

		li, li:last-child {
			border-bottom: 1px solid #999;
		}

		a {
			padding: 20px 0 20px 40px;
			font-size: 0.9rem;
			text-align: left;
			color: #fff;
			opacity: 0.6;
		}

		button {
			padding: 20px;
			width: 100%;
			font-size: 1rem;
			text-transform: uppercase;
			border-bottom: 1px solid #999;

			&:after {
				display: none;
			}
		}
	}

	.header__contact {
		padding: 0;
		width: 210px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
		justify-content: flex-end;

		ul {
			margin-left: 0;
		}
	}

	.header__nav_bottom {
		display: none;
	}
	.header__nav_mobile {
		display: block;
	}

	.soc-wrap {
		display: none;
	}
	.soc-wrap_mobile {
		display: block;
	}
	.social {
		float: none;
		margin-bottom: 0;
		width: 250px;
		margin: 0 auto;

		li {
			border-bottom: 0;
		}

		a {
			padding: 16px 0;
		}

		i {
			color: #fff;
			font-size: 1.2rem;
		}
	}
}


@media screen and (max-width: 599px) {

	.head {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.header {
		position: static;

		.container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.nav-wrap {
		width: 100%;
	}

	.logo {
		display: none;
	}

	.logo_mob {
		display: block;
	}
}