
.head {
	position: relative;
	padding-bottom: 70px;
	background: linear-gradient(to top, #BBBAB5 0%, #fff 25%);



	.container {
		position: relative;
	}
}

.hamburger {
	display: none;
	position: relative;
	display: none;
	height: 40px;

	img {
		width: 24px;
		max-width: 24px;
		height: 19px;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;
		// width: 30px;
		// height: 25px;
		// fill: #fff;
	}


	span {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 50px;
		color: #fff;
		font-family: Arial, sans-serif;
		font-size: 13px;
	}
}
.hamburger-close {
	display: none;
	position: absolute;
	top: 11px;
	right: 15px;

	svg {
		width: 25px;
		height: 25px;
		fill: #fff;
		stroke: #fff;
	}
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(#838C9A, 0.9);
	height: 40px;
	z-index: 2;
}

.nav-wrap {
	display: flex;
	align-items: center;
}

.mobile-contact {
	order: 3;
	width: 100%;
	display: none;

	li {
		border-bottom: 1px solid #999;
	}
	a {
		display: inline-block;
		color: #fff;
		font-family: Arial, sans-serif;
		font-size: 1rem;
		padding: 16px;
	}

	i {
		color: #fff;
		margin-right: 10px;
	}
}

.lang {
	position: relative;
	margin-right: 40/760*100%;

	button {
		position: relative;
		background-color: transparent;
		border: none;
		outline: none;
		color: #fff;
		font-family: Arial, sans-serif;
		font-size: 13px;
		cursor: pointer;
		display: flex;
		align-items: center;

		&:after {
			position: absolute;
			right: -5px;
			top: 50%;
			transform: translateY(-50%);
			border-top: 4px solid #fff;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			content: "";
		}

		&:before {
			position: absolute;
			bottom: -20px;
			width: 100%;
			height: 20px;
			background-color: transparent;
			content: "";
		}

		&:hover+ul {
			display: block;
		}
	}

	img {
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}

	// i {
	// 	margin-right: 5px;
	// 	font-size: 18/16*1rem;
	// }

	ul {
		display: none;
		position: absolute;
		bottom: -70px;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		border-radius: 3px;
		background-color: #fff;

		&:after {
			position: absolute;
			left: 50%;
			top: -4px;
			transform: translateX(-50%);
			border-bottom: 4px solid #fff;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			content: "";
		}

		&:hover {
			display: block;
		}
	}

	li {
		border-bottom: 1px solid gray;
		transition: all 0.3s;

		&:last-child {
			border-bottom: 0;
		}

		&:hover {
			background-color: #838C9A;
		}
		&:hover a {
			color: #fff;
		}
	}

	a {
		width: 100%;
		display: inline-block;
		padding: 10px 15px;
		color: #000;
		font-family: Arial, sans-serif;
		font-size: 12px;
		transition: all 0.3s;
		text-align: center;

		&:hover {
			text-decoration: none;
		}
	}
}

.header__nav_top {
	width: 525/610*100%;

	ul {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	a {
		color: #fff;
		font-family: Arial, sans-serif;
		font-size: 13px;
	}
}


.header__contact {
	padding-left: 0;
	display: flex;
	align-items: center;
	color: #fff;
	font-family: "Times New Roman", sans-serif;

	ul {
		display: flex;
		align-items: center;
		margin-left: 20px;
		margin-right: 10px;

		li {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			};
		}

		// i {
		// 	font-size: 18/16*1rem;
		// }

		// .fa-phone {
		// 	color: #fff;
		// 	font-size: 0.9rem;
		// }
		// .fa-viber {
		// 	color: #794C9B;
		// }
		// .fa-whatsapp {
		// 	color: #5AC549;
		// 	font: #26A719;
		// }

		img {
			width: 18px;
			height: 18px;
		}
	}

	a {
		color: #fff;
		font-family: Verdana, sans-serif;
		font-size: 14px;
		text-decoration: none; 
	}
}

.logo {
	max-width: 100%;
}
.logo_mob {
	width: 100%;
	max-width: 100%;
	display: none;
}

.header__nav_bottom {
	position: absolute;
	bottom: 100px;
	right: 0;
	left: 0;
	width: calc(100% - 30px);
	margin: 0 auto;

	ul {
		width: 100%;
		border-top: 2px solid #D8A37C;
		display: flex;
		background-color: #BD4D2D;
		background: linear-gradient(to top, #DB6E31 0%, #BD4D2C 40%, #DB6E31 90%);
	}

	li {
		border-right: 1px solid #C57650;
		display: flex;
		align-items: center;
		transition: all 0.2s;
		box-sizing: border-box;
		height: 60px;

		&:hover {
			background-color: #AD372D;
			box-sizing: border-box;
			border-bottom: 5px solid #E5BBAD;
		}

		&:hover .header__nav_bottom a {
			color: #E5BBAD;
		}
	}

	a {
		padding: 0 12px;
		display: inline-block;
		color: #fff;
		font-family: Arial, sans-serif;
		font-size: 15px;
		text-align: center;
		text-decoration: none; 

		/*&:hover {
			background-color: #AD372D;
			box-sizing: border-box;
			border-bottom: 2px solid #E5BBAD;
		}*/
	}
}
.header__nav_top .header__nav_mobile {
	display: none;
}

.social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	float: right;
	clear: both;
	margin-bottom: 50px;

	i {
		color: #737E8E;
		font-size: 1rem;
		transition: all 0.2s;

		&:hover {
			color: $blue;
		}
	}
}

.h1 {
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}

/*END__HEAD*/

