@media screen and (max-width: 990px) {
	.head-middle {
		padding: 20px 15px;
	}
	.head-middle_right {
		justify-content: flex-end;
	}

	.logo {
		text-align: center;
		padding: 0;
		margin-bottom: 24px;
	}

	.header__contact {
		margin-left: 0;
	}

	.lang {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.head {
		padding-bottom: 30px;
	}

	.hamburger, .hamburger-close, .mobile-contact {
		display: block;
	}

	.header {
		display: none;
	}

	.head-middle_right {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.header__contact {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.contact_top {
		margin-bottom: 5px;
	}
	.contact_bottom {
		justify-content: center;
	}

	.header__nav_top {
		width: 100%;
		order: 1;

		ul {
			flex-direction: column;
			align-items: flex-start;
			height: auto;
			width: 100%;
		}

		li {
			width: 100%;
			border-bottom: 1px solid #999;
		}

		a {
			padding: 16px;
			width: 100%;
			display: inline-block;
			font-size: 0.9rem;
			text-transform: uppercase;
		}

		.header__nav_mobile {
			display: block;
		}
	}

	.mobile-wrap {
		min-height: 100vh;
		height: auto;
	}

	.lang {
		order: 2;
		width: 100%;
		box-sizing: border-box;

		ul {
			position: static;
			width: 100%;
			background-color: #585858;
			transform: translateX(0);
			box-shadow: none;

			&:after {
				display: none;
			}
		}

		li, li:last-child {
			border-bottom: 1px solid #999;
		}

		a {
			padding: 20px 0 20px 40px;
			font-size: 0.9rem;
			text-align: left;
			color: #fff;
			opacity: 0.6;
		}

		button {
			padding: 20px;
			width: 100%;
			font-size: 1rem;
			text-transform: uppercase;
			border-bottom: 1px solid #999;

			&:after {
				display: none;
			}
		}
	}

	.header__nav_bottom {
		display: none;
	}
	.header__nav_mobile {
		display: block;
	}

	.soc-wrap {
		display: none;
	}
	.soc-wrap_mobile {
		display: block;
	}
	.social {
		float: none;
		margin-bottom: 0;
		width: 250px;
		margin: 0 auto;

		li {
			border-bottom: 0;
		}

		a {
			padding: 16px 0;
		}

		i {
			color: #fff;
			font-size: 1.2rem;
		}
	}
}


@media screen and (max-width: 599px) {

	.head {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.header {
		position: static;

		.container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.nav-wrap {
		width: 100%;
	}

	.logo {
		display: none;
	}

	.logo_mob {
		display: block;
	}
}